button .tolles-edit-icon{
	background-image: url(pencil.svg)!important;
}

nav{
	width: 1300; 
    background-image: url('https://cdn.pixabay.com/photo/2016/04/15/04/02/water-1330252_1280.jpg');
	background-repeat: no-repeat;
    background-attachment: fixed;  
	background-size: cover;
}


#wrapper{
	width: auto;
	height: auto;
	margin: auto;
	color: cornsilk;
	background-color: rgba(30, 177, 245, 0.555);
}

body {
    background-image: url('https://cdn.pixabay.com/photo/2016/10/18/21/22/california-1751455_1280.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
  }
